$colorletra:#ffffff;
$font-family1: 'Staatliches', cursive;
$font-family2: 'Pragati Narrow', sans-serif;
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.header{
    background-color: rgb(0, 0, 0);
    font-family: $font-family1; 
    color: $colorletra;
    .h1{
        color: $colorletra;
        font-size: 40px;
        font-weight: lighter;
        text-align: center;
        margin: 0 auto;
        padding: 10px;
    }
        @media (max-width: 400px){
            .header h1{
                font-size: medium;
            }
            .navbar{
                display: block;
                width: 100%;
                text-align: center;
                font-size: 15px;
            }
        }
    .container-fluid{
        background-color: rgb(0, 0, 0);
        font-family: $font-family1; 
        color: $colorletra;
    }
    .dropdown-menu{
        background-color: rgb(243, 223, 157);
        .dropdown-item{
        color: #a8840e; 
        &:hover {
            background-color: white;
            color: black;
          }
        }
    }
    .d-flex {
        input[type="search"] {
          border: 1px solid white;
          color: white;
          background-color: #000000;
        }
      
        button[type="submit"] {
          border: 1px solid white;
          color: white;
      
          &:hover {
            background-color: white;
            color: black;
          }
        }
      }      
    }

    .volver{
        text-decoration: none;
        width: auto;
        font-size: 20px;
        font-weight: lighter;
        color: rgb(151, 128, 22);
        padding: 10px;
        text-align: left;
        &:hover{
            color: rgb(151, 128, 22);
            background-color: rgb(224, 204, 148);
        }
    } 
.centrar{
    text-align: center;
}